:root {
    --background-color: #e7f0f8,
    --text-color: #14354B,
    --sidebar-Bg-Color:#15314f,
    --table-Bg-Color:#ffffff,
    --table-thead-tr-Bg-Color:#eef1f3,
    --table-tbody-tr-odd: #ffffff,
    --table-tbody-tr-even: #EEF1F3,
    --table-th-color: #ffffff,
    --table-heading-span: #ffffff,
    --chart-Bg-Color: #ffffff,
    --breadcrumb-a: 0, 0, 0,
    --breadcrumb-a-o-s: 0.7,
    --select-Bg-Color-white: #ffffff,
    --select-Bg-Color: transparent,
    --chart-lable-c: #000000,
    --profile-span: #000000,
    --profile-span-o-s: 0.9,
    --bordercolor: #cad8e4,
    --lightblue: #407ed2,
    --chartHover: #ffffff,
    --sideMenuHover: #32394e,
    --chartBorder: #cad8e4,
    --btn-color: transparent,
    --table-thead: #0000001A,
    --checkbox-border: #838c95,
    --sidebar-hover-bg: #1F3D5D,
    --code-bg: #ebeaea,
    --bg-dark-gray: #e7f0f8,
    --loder-text: #fff,
    --notificationRead: #ab9a9a,
    --notificationNonRead: #f5f5f5,
    --headerfooter: #e7f0f8
}