

.editIcon{
    color: blue;
}
.editIcon:hover{
    color: blue;
    text-decoration: none;
  transition: all 0.3s;
}

.deleteIcon{
    color:orangered;
}
.deleteIcon:hover{
    color:orangered ;
  text-decoration: none;
  transition: all 0.3s;

}



