.swal2-popup.swal2-modal.swal2-icon-error.swal2-show{
    border-radius: 10px;
}


.close.btn-close-modal{
    border: none;
    color: #363131;
    background: transparent;
    font-size: x-large;
}
