$bg-yellow:  #EEAA45;
$bg-green:  #3DAE18;
$bg-sky:  #5AC2E5;
$bg-red:  #D44C4C;
$bg-blue:  #357DB7;

$btn-cancel: #082646;


$green:   #13D389;
$red-color: #F88585;

$bg-orange: #FF9A57;
$color-red: #E62E2D;
$color-yellow: #F6D600;



$font-size-base: 12px;
