.wave{
	position: fixed;
	bottom: 0;
	left: 0;
	height: 100%;
	z-index: -1;
}

.card{
  background-color: transparent !important;
  border: 1px !important;
  box-shadow : 1px !important
}

.sideBarImage{
  height: 273px
}
.sideBarImageotp{
  height: 420
}

p{
  font-size: small;
}

.resendBtnOk{
  color:#49cb59;
}



