<img class="wave" src="../../../../assets/images/signin/wave.png">


<div class="container d-flex flex-column">
    <div class="row align-items-center justify-content-center
            min-vh-100">
        <div class="col-6 col-md-8 col-lg-6">
            <img *ngIf="verify == 'emailVerify'" src="../../../../assets/images/signin/email.svg"
                class="img-fluid sideBarImage" alt="Sample image">
            <img *ngIf="verify == 'otpVerify'" src="../../../../assets/images/signin/otp.png"
                class="img-fluid sideBarImageotp" alt="Sample image">
            <img *ngIf="verify == 'passVerify'" src="../../../../assets/images/signin/confiompassword.png"
                class="img-fluid sideBarImageotp" alt="Sample image">
        </div>


        <div class="col-6 col-md-8 col-lg-6">
            <div class="card ">
                <div class="card-body">
                    <div *ngIf="verify == 'emailVerify'">
                        <div class="mb-4">
                            <h5>Forgot Password?</h5>
                            <p class="mb-2">Enter your registered email ID to reset the password
                            </p>
                        </div>
                        <form [formGroup]="resetPassword">
                            <div class="mb-3">
                                <label for="email" class="form-label">Email</label>
                                <input type="email" id="email" class="form-control" name="email"
                                    placeholder="Enter Your Email" required="" formControlName="email">
                            </div>
                            <div class="mb-3 d-grid">
                                <button type="submit" class="btn btn-primary" [disabled]="resetPassword.invalid"
                                    (click)="resetPasswordUser()">
                                    Reset Password
                                </button>
                            </div>
                        </form>
                    </div>


                    <div *ngIf="verify == 'otpVerify'">

                        <div id="chart" *ngIf="chartShow">
                            <apx-chart [series]="chartOptions.series" [chart]="chartOptions.chart"
                                [plotOptions]="chartOptions.plotOptions" [labels]="chartOptions.labels"
                                [fill]="chartOptions.fill" [stroke]="chartOptions.stroke"></apx-chart>
                        </div>

                        <div class="container height-100 d-flex justify-content-center align-items-center">
                            <div class="position-relative">
                                <div class="card p-2 text-center">
                                    <h6>Please enter the one time password <br> to verify your account</h6>
                                    <div> <span>A code has been sent to</span>
                                        <small>*******{{this.resetPassword.value.email | slice:4}}</small>
                                    </div>
                                    <form [formGroup]="optForm" #aForm>
                                        <div id="otp" class="inputs d-flex flex-row justify-content-center mt-2"
                                            *ngIf="!otpResetInput">
                                            <ng-container *ngFor='let row of counterData(5) ;let i = index'>
                                                <input class="m-2 text-center form-control rounded" type="text"
                                                    name="{{i}}" maxlength="1" (input)="changeValueOTP($event,i)"
                                                    appKeywordblock [valueValidation]="'onlyNumber'" />
                                            </ng-container>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-8 count">
                                                <p> Didn't get the code Resend({{sendOtpCount}}/3)</p>
                                            </div>
                                            <div class="col-md-4">
                                                <p>
                                                    <span [ngClass]="!optSend ? 'resendBtn' : 'resendBtnOk' "
                                                        (click)="resendOTP();optSend =false;">Resend
                                                        OTP</span>
                                                </p>
                                            </div>
                                        </div>
                                        <div class="mt-4">
                                            <!--  -->
                                            <button class="btn btn-danger m-2" (click)="otpReset()">
                                                Reset</button>
                                            <button class="btn btn-primary" (click)="otpVerifyUser()"
                                                [disabled]="!optForm.valid || optForm.value.otp.length<5">
                                                Submit</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div *ngIf="verify == 'passVerify'">
                        <div class="mb-4">
                            <h5>Forgot Password</h5>
                            <p class="mb-2">Sign in to your account to continue
                            </p>
                        </div>
                        <form [formGroup]="forgetPassword" (ngSubmit)="confiormPassword()">
                            <div class="mb-3" [class.has-danger]=" !forgetPassword.get('password').valid &&
                            (forgetPassword.get('password').dirty || forgetPassword.get('password').touched)">
                                <label class="form-label">New Password </label>
                                <div class="input-group">
                                    <input class="form-control form-control-lg" type="password" name="password"
                                    minlength="{{commonconstants.VALIDATION.passwordNormal.min}}"
                                    maxlength="{{commonconstants.VALIDATION.passwordNormal.max}}"
                                                                            formControlName="password" placeholder="Enter your new password">
                                    <span class="input-group-text passwordShowHide">
                                        <i class="fa fa-eye-slash"></i>
                                    </span>
                                </div>
                                  <ng-container *ngFor="let validation of errorMessages.password">
                                    <div class="form-control-feedback"   *ngIf="forgetPassword.get('password').hasError(validation.type)"   >- {{validation.message}}</div>
                                    <div class="form-control-feedback feedback-success"  *ngIf="!forgetPassword.get('password').hasError(validation.type)"   > <i class="fa fa-check"></i> {{validation.message}}</div>
                        
                                  </ng-container>


                            </div>
                            <div class="mb-3" [class.has-danger]=" !forgetPassword.get('confirmPassword').valid &&
                            (forgetPassword.get('confirmPassword').dirty || forgetPassword.get('confirmPassword').touched)">
                                <label class="form-label">Confirm Password</label>
                                <div class="input-group">
                                    <input class="form-control form-control-lg" type="password" name="password"
                                        formControlName="confirmPassword" placeholder="Enter your confirm password">
                                    <span class="input-group-text passwordShowHide">
                                        <i class="fa fa-eye-slash"></i>
                                    </span>
                                </div>
                                <div *ngFor="let validation of errorMessages.confirmPassword">
                                    <div class="form-control-feedback"   
                                    *ngIf="forgetPassword.get('confirmPassword').hasError(validation.type) &&
                                    (forgetPassword.get('confirmPassword').dirty || forgetPassword.get('confirmPassword').touched)"   >- {{validation.message}}</div>
                        
                                </div>


                            </div>

                            <div class="mt-4">
                                <!--  -->
                                <button class="btn btn-danger m-2" (click)="resetForm()" [disabled]="!isChangeDetect">
                                    Reset</button>
                                <button type="submit" class="btn btn-primary"
                                [disabled]="!forgetPassword.valid">
                                    Submit</button>
                            </div>


                            <!-- <div class="mb-3 d-grid">
                                <button type="submit" class="btn btn-primary" [disabled]="!forgetPassword.valid">
                                    Submit{{forgetPassword.valid}}
                                </button>
                                <button type="submit" class="btn btn-primary" (click)="resetForm()" >
                                   Cancel
                                </button>
                            </div> -->

                        </form>
                    </div>








                </div>
            </div>
        </div>
    </div>
</div>



<app-globelspinner *ngIf="spinnerWorking"></app-globelspinner>