#partitioned {
  padding-left: 15px;
  letter-spacing: 42px;
  border: 0;
  background-image: linear-gradient(to left, black 70%, rgba(255, 255, 255, 0) 0%);
  background-position: bottom;
  background-size: 50px 1px;
  background-repeat: repeat-x;
  background-position-x: 35px;
  width: 235px;
  min-width: 298px;
  outline : none;

}

#divInner{
  left: 0;
  position: sticky;
}

#divOuter{
  width: 254px; 
  overflow: hidden;
}
  

  #chart {
    padding: 0;
    max-width: 450px;
    margin: 35px auto;
  }

  .resendBtn{
    color: #bfe0df;
  }
  .resendBtnOk{
    color: #34a25b;
  }

  a {
    text-decoration: none !important; 

}

.background-Color{
  background-color: white;
}
  