
  <img class="wave" src="../../../../assets/images/signin/wave.png">
	<div class="container">
		<div class="img">
			<img src="../../../../assets/images/signin/bg.svg">
		</div>
		<div class="login-content">
        <form [formGroup]="signInForm">
				<img src="../../../../assets/images/signin/avatar.svg">
				<h2 class="title">Networking </h2>
          <div class="input-div one">
            <div class="i">
                <i class="fas fa-user"></i>
            </div>
            <div class="div">
                <h5 *ngIf="!signInForm.get('email').value">Email address</h5>
                <input type="text" class="input" formControlName="email">
            </div>
         </div>
          <div class="input-div pass">
            <div class="i"> 
               <i class="fas fa-lock"></i>
            </div>
            <div class="div">
               <h5 *ngIf="!signInForm.get('password').value" >Password</h5>
               <input type="password" class="input" formControlName="password">
           </div>
        </div>
          <a routerLink="resetpassword">Forgot Password?</a>
          <input type="submit" class="btn" value="Login">
  
        </form>
        </div>
    </div>