<p>test works!</p>










<input type="file" (change)="fileDAtda($event)" multiple>
<p *ngFor="let a of fileArray">{{a.name}}</p>
<button type="submit" (click)="DataSend()">submit</button>



<a href="../../../assets/uploads/{{imageName}}" download="{{imageName}}">dounload</a>



<!-- 

<div [formGroup]="filterForm">
    From: <input type="text" 
           #dateFromDp="dpDayPicker"
           [dpDayPicker]="dayPickerConfig"
           [theme]="'dp-material'"
           formControlName="dateFrom"
           [mode]="'daytime'"
           (onChange)="dateTimeSelected($event)"
           />

    To: <input type="text" 
           #dateToDp="dpDayPicker"
           [dpDayPicker]="dayPickerConfig"
           [displayDate]="displayDate"
           [theme]="'dp-material'"
           formControlName="dateTo"
           [mode]="'daytime'"
            />
</div> -->

<br>
<div>
    <!-- <dp-date-picker  #datePicker [config]="dayPickerConfig" formControlName="dateFrom" closeOnSelect="'true'" theme="dp-material" [mode]="'daytime'" >
    </dp-date-picker> -->
</div>
<br>
<br>
<br>
<div>

    <!-- To: <input type="text" 
           #dateToDp="dpDayPicker"
           [dpDayPicker]="dayPickerConfig"
           [displayDate]="displayDate"
           [theme]="'dp-material'"
           formControlName="dateTo"
           [mode]="'month'"
            /> -->


    <!-- <dp-date-picker  #datePicker [config]="dayPickerConfig" formControlName="dateTo" closeOnSelect="'true'" theme="dp-material" [mode]="'daytime'">
    </dp-date-picker> -->

</div>  
  