<nav id="sidebar">
    <div class="sidebar-header">
        <h3>System Health</h3>
    </div>

    <ul class="list-unstyled components">

        <li class="{{router.url.includes('/setup/') ? 'active' : null}}">
            <a href="javascript:void(0)" data-toggle="collapse" aria-expanded="false"
             (click)="this.changeflag1 = !this.changeflag1; redirectPage('/setup/region')" 
             class="dropdown-toggle">Setup</a>
            <ul class="collapse list-unstyled " id="homeSubmenu"  
            [ngClass]="changeflag1 ?'show':''" >
                <li>
                    <a routerLink="/setup/region">Region</a>
                </li>
                <li>
                    <a routerLink="/setup/user-listing">User Management</a>
                </li>
                <li>
                    <a   routerLink="/setup/alert-center">Alert Center</a>
                </li>
            </ul>
        </li>
        <li  class="{{router.url.includes('/setup/') ? '' : null}}" >
            <a href="javascript:void(0);">About</a>
        </li>
        <li  class="{{router.url.includes('/setup/') ? '' : null}}">
            <a href="javascript:void(0);" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"
             (click)="this.changeflag2 = !this.changeflag2">Network</a>
            <ul class="collapse list-unstyled" id="pageSubmenu"  [ngClass]="changeflag2 ?'show':''" >
                <li>
                    <a routerLink="/monitor/network-teplogy">Network Teplogy</a>
                </li>
                <li>
                    <a routerLink="/monitor/region-treemap">Resion Tree Map</a>
                </li>
            </ul>
        </li>
        <li  class="{{router.url.includes('/user-management/') ? '' : null}}">
            <a href="javascript:void(0);" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"
             (click)="this.changeflag3 = !this.changeflag3">User Management</a>
            <ul class="collapse list-unstyled" id="pageSubmenu"  [ngClass]="changeflag3 ?'show':''" >
                <li>
                    <a routerLink="/user-management/user">User</a>
                </li>
                <li>
                    <a routerLink="/user-management/role">Role</a>
                </li>
                <li>
                    <a routerLink="/user-management/permission">Permission</a>
                </li>
               
            </ul>
        </li>
        <li>
            <a href="javascript:void(0);">Portfolio</a>
        </li>
        <li>
            <a href="javascript:void(0);">Contact</a>
        </li>
    </ul>

    
</nav>
