
text {
	pointer-events: none;
  }
  
  .grandparent text {
	font-weight: bold;
  }
  
  rect {
	fill: none;
	stroke: #fff;
  }
  
  rect.parent,
  .grandparent rect {
	stroke-width: 2px;
  }
  
  .grandparent rect {
	fill: orange;
  }
  
  .grandparent:hover rect {
	fill: #ee9700;
  }
  
  .children rect.parent,
  .grandparent rect {
	cursor: pointer;
  }
  
  .children rect.parent {
	fill: #bbb;
	fill-opacity: .5;
  }
  
  .children:hover rect.child {
	fill: #bbb;
  }

  .child{
	color: white;
	visibility: hidden;
	background: transparent;
  }

  .ctext{
	display: none !important;
  }


  #parentDiv #treemapDrillDown {
    height: calc(100vh - 25vh); /** output container is small for display */ 
    width: 100%;
    display: block;
    // border: 1px solid red;
  }
  svg text{
    text-anchor: middle;
    dominant-baseline: middle;
  }

.tooltip{
      position: 'absolute';
      z-index: '10';
      visibility: 'hidden';
      background-color: 'white';
      border: 'solid';
      border-width: '2px';
      border-radius: '5px';
      padding: '5px'
}


